.cartitem-btn {
	background-color: #e74423 !important;
	position: fixed;
	z-index: 999;
	bottom: 1vh;
	right: 1vw;
	width: 5rem;
	height: 5rem;
	border-radius: 50%;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cartitem-btn:hover {
	background-color: #e74423af !important;
	transform: scale(1, 1) !important;
}

.cart-icon {
	color: #ffffff;
	border: 0;
	margin-left: 10px;
	padding: 0;
}

.quantity {
	padding: 0;
	margin: 0;
	color: #ffffff;
	height: 3rem;
	font-size: 15px;
}
