@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');

.empty-cart-icon {
	font-size: 15rem !important;
	color: #ecbe7a;
}

.empty-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 3rem;
	padding: 12rem !important;
}

#text-color {
	color: rgb(70, 70, 70);
	font-family: 'Courier New', Courier, monospace;
}
.card-actions {
	justify-content: center;
}

.btn-empty-cart {
	text-transform: capitalize !important;
	color: #e74423 !important;
	font-size: large !important;
}

@media (width <= 1000px) {
	.empty-container {
		margin-bottom: 15rem;
		padding: 5rem !important;
	}
}
