@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');

body {
	margin: 0;
	min-width: 320px;
	min-height: 100vh;
	padding: 0;
	flex-grow: 1;
}

main {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	font-family: 'kanit', 'Courier New', Courier, monospace;
}
